<!-- Page Header -->
<ion-header>
  <ion-navbar *ngIf="page" color="dark-blue">
    <ion-title style="font-family:roboto sans-serif, Arima Madurai;">{{page.Title}}</ion-title>
  </ion-navbar>
</ion-header>

<!-- Page Content -->
<ion-content padding *ngIf="page">
  <ion-tabs tabsPlacement="bottom" color="dark-blue">
    <ion-tab [root]="homeTab" [rootParams]="page.HomePage" tabTitle="{{'TAB_ABOUT' | translate}}"></ion-tab>
    <ion-tab [root]="presentTab" [rootParams]="page.PresentList" tabTitle="{{ 'TAB_MEMORY' | translate}}"></ion-tab>
    <ion-tab [root]="pastTab" [rootParams]="page.PastList"  tabTitle="{{'TAB_HISTORY' | translate}}"></ion-tab>
    <ion-tab [root]="mapTab" [rootParams]="page.Map"  tabTitle="{{'TAB_MAP' | translate}}"></ion-tab>
  </ion-tabs>
</ion-content>
