<!-- Page Header -->
<ion-header>
</ion-header>

<!-- Page Content -->
<ion-content padding class="bg">
  <ion-card *ngFor="let item of tabContent" style="border-radius:2px;">
    <img src="{{item.Img}}"/>
    <ion-card-content>
      <ion-card-title>{{item.Title}}</ion-card-title>
      <p style="font-family: Roboto;!important;">{{item.Text}}</p>
      <div *ngIf="item.Video">
        <a href="{{item.Video}}">{{'VIDEO-LINK' | translate}}</a>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card style="box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);">
  </ion-card>
</ion-content>
